.projectcreation{
    border-radius: 25px;
    background: #FDDC5C;
    padding: 20px;
    width: 250px;
    height: 180px; 
}

.textLabel{
    color: black;
}

.backbutton{
    margin-top: 5px;
}

.submitbutton{
    margin-top: 5px;
}